.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 4px 7px forestgreen
}

.restaurant-title{
  color: orange;
  text-shadow: 2px 2px 0 #0f1e30, 2px -2px 0 #0f1e30, -2px 2px 0 #0f1e30, -2px -2px 0 #0f1e30, 2px 0px 0 #0f1e30, 0px 2px 0 #0f1e30, -2px 0px 0 #0f1e30, 0px -2px 0 #0f1e30;
}

.button {
  color: white; 
  height: 30px;
  font-size: 13px; 
  line-height: 15px; 
  padding: 7px 7px 2px 7px; 
  border-radius: 5px; 
  font-family: Georgia, serif; 
  font-weight: normal; 
  text-decoration: none; 
  font-style: normal; 
  font-variant: normal; 
  text-transform: none; 
  background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
}

.button:hover {
background: blue; }
.button:active {
background: blueviolet; }

.reviewContainer {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 10rem;
  height: 10rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px orange
}
.body{
  padding: 25px;
}
.opposing-title{
  color: black;
  text-shadow: 2px 2px 0 rgb(245, 210, 144), 2px -2px 0 rgb(245, 210, 144), -2px 2px 0 rgb(245, 210, 144), -2px -2px 0 rgb(245, 210, 144), 2px 0px 0 rgb(245, 210, 144), 0px 2px 0 rgb(245, 210, 144), -2px 0px 0 rgb(245, 210, 144), 0px -2px 0 rgb(245, 210, 144);
  text-align: center;
}